@font-face {
  font-family: Raleway;
  src: url("./Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Raleway-Regular;
  src: url("./Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url("./Raleway-SemiBold.ttf") format("truetype");
}
