body {
  color: white !important;
  overflow-x: hidden !important;
  background-color: black !important;
}

section {
  width: 100vw;
  height: 100vh;
  padding: 10px;

  &:not(#home) {
    padding-top: 125px;
  }
}
