<section id="contact">
  <div class="row contact">
    <h2>Contact</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="area message">
            <div class="header">
              <h2>Just say Hello!</h2>
              <span>Or tell me a question</span>
            </div>
            <form>
              <div class="form-row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="form-row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <textarea class="form-control" rows="4" placeholder="Message"></textarea>
                </div>
              </div>
              <button class="btn btn-outline-light">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="area contact-info">
        <h2>Information</h2>
        <br>
        <span>
          Curitiba, PR - Brazil
        </span>
        <br>
        <br>
        <span>
          everson.jean@live.com
        </span>
        <br>
        <br>
        <span>
          +55 (41) 9 9986-3365
        </span>
        <br>
        <br>
        <div>
          <h2>Follow Us</h2>
        </div>
        <div class="icons">
          <a href="https://www.linkedin.com/in/eversonjean/" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/EversonJean" target="_blank"><i class="fa fa-github"></i></a>
          <a href="https://api.whatsapp.com/send?phone=5541999863365&text=Hola%information%." target="_blank">
            <i class="fa fa-whatsapp"></i>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
