<section id="contact">
  <!-- <div class="row text-center">
    <h2>Contact</h2>
  </div> -->
  <div class="row">
    <div class="col-6">
      <div class="area message">
        <div class="header">
          <h2>Just say Hello!</h2>
          <span>Ler us know abaout you!</span>
        </div>
        <form>
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <textarea class="form-control" rows="4" placeholder="Message"></textarea>
            </div>
          </div>
          <button class="btn btn-outline-light">
            Submit
          </button>
        </form>
      </div>
    </div>
    <div class="col-6">
      <div class="area contact-info">
        <h2>Contact Information</h2>
        <br>
        <span>
          Rua Pedro Gusso 870, Curitiba - PR
        </span>
        <br>
        <br>
        <span>
         everson.jean@live.com
        </span>
        <br>
        <br>
        <span>
          +55 (41) 9 9986-3365
        </span>
        <br>
        <br>
        <div>
          <h2>Follow Us</h2>
        </div>
      </div>
    </div>
  </div>
</section>
